
@{
    ViewData["Title"] = "GetStudentById";
}

<h1>GetStudentById</h1>


@model StudentModel
@{ Layout = "_Layout"; ViewBag.Title = "Get Reservation by Id";}

<h2>Get Student by Id <a asp-action="Index" class="btn btn-sm btn-primary">Back</a></h2>
<h3>@ViewBag.StatusCode</h3>
<form method="post">
    <div class="form-group">
        <label for="id">Id:</label>
        <input class="form-control" name="id" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Get Student</button>
    </div>
</form>

@if (Model != null)
{
    <h2>STUDENT</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
                <th>Student ID</th>
                <th>Class Name</th>
                <th>Student Name</th>
                <th>Gender</th>
                <th>DOB</th>
                <th>Blood Group</th>
                <th>Contact</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.StudentId</td>
                <td>@Model.ClassName</td>
                <td>@Model.StudentName</td>
                <td>@Model.Gender</td>
                <td>@Model.Dob</td>
                <td>@Model.BloodGroup</td>
                <td>@Model.Contact</td>
                <td>@Model.Address</td>
            </tr>
        </tbody>
    </table>
}