@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@model IEnumerable<StudentModel>
@{ Layout = "_Layout"; ViewBag.Title = "All Reservations";}

<h2>All Students</h2>
<a asp-action="AddStudent" class="btn btn-sm btn-primary">Add Student</a>
<a asp-action="Index" class="btn btn-sm btn-secondary">Get Student</a>

<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>Class Name</th>
            <th>Student Name</th>
            <th>Gender</th>
            <th>DOB</th>
            <th>Blood Group</th>
            <th>Contact</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
        <tr>
            <td>@r.StudentId</td>
            <td>@r.ClassName</td>
            <td>@r.StudentName</td>
            <td>@r.Gender</td>
            <td>@r.Dob</td>
            <td>@r.BloodGroup</td>
            <td>@r.Contact</td>
            <td>@r.Address</td>
            <td>
                <a asp-action="UpdateStudentPatch" asp-route-id="@r.StudentId">
                    UPDATE
                </a>
            </td>
            <td>
                <form asp-action="DeleteStudent" method="post">
                    <input type="hidden" value="@r.StudentId" name="Id" />
                    <input type="image" src="https://www.freeiconspng.com/thumbs/close-icon/close-icon-30.png" height="10" width="10"/>
                </form>
                

            </td>
        </tr>
        }
    </tbody>
</table>
