
@{
    ViewData["Title"] = "AddCashier";
}

<h1>AddCashier</h1>

@model CashierModel
@{ Layout = "_Layout"; ViewBag.Title = "Add a Cashier";}

<h2>Add a Reservation <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form asp-action="AddCashier" method="post">
    <div class="form-group">
        <label asp-for="CashierId"></label>
        <input type="number" class="form-control" asp-for="CashierId" />
    </div>
    <div class="form-group">
        <label asp-for="CashierName"></label>
        <input class="form-control" asp-for="CashierName" />
    </div>
    
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Add</button>
    </div>
</form>

@if (Model != null)
{

    <h3>Task Completed</h3>
    @*<h2>Reservation</h2>
        <table class="table table-sm table-striped table-bordered m-2">
            <thead>
                <tr>
                    <th>Student ID</th>
                    <th>Class Name</th>
                    <th>Student Name</th>
                    <th>Gender</th>
                    <th>DOB</th>
                    <th>Blood Group</th>
                    <th>Contact</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.StudentId</td>
                    <td>@Model.ClassName</td>
                    <td>@Model.StudentName</td>
                    <td>@Model.Gender</td>
                    <td>@Model.Dob</td>
                    <td>@Model.BloodGroup</td>
                    <td>@Model.Contact</td>
                    <td>@Model.Address</td>
                </tr>
            </tbody>
        </table>*@
}